<p>Flights</p>

<!-- <h1>{{admin}}</h1> -->
<div *ngIf="admin" class="panel-heading">

<div class="panel-body">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Flight Name</th>
        <th>From</th>
        <th>To</th>
        <th>Arrival</th>
        <th>Departure</th>
        <th>Base Price</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of flightList">
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.from_loc}}</td>
        <td>{{e.to_loc}} </td>
        <td>{{e.arrive}} </td>
        <td>{{e.depart}} </td>
        <td>{{e.base_price}} </td>
        <td>{{e.duration}} </td>

        </tr>
    </tbody>
  </table>

</div>
<div class="col-sm-12 text-right">
  <a routerLink="/addFlight" class="btn btn-primary">Add Flight</a>
  <a routerLink="/DelFlight" class="btn btn-danger">Delete Flight</a>
</div>
  
</div>
<div *ngIf="user">
  <h1>Please login as admin or contact your administrator</h1>
</div>
