




<div id="login" style="padding-top: 50px;">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div *ngIf="user" class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    
                    <form #userForm="ngForm" (ngSubmit)='onSubmit(userForm.value)' id="login-form" class="form" >
                        <h3 class="text-center text-info">Search Flight</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">From Destination:</label><br>
                            <input type="text" name="from_loc" id="from_loc" class="form-control" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">TO Destination:</label><br>
                            <input type="text" name="to_loc" id="to_loc" class="form-control" ngModel>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
                        </div>
                        <br/>
                        <!-- <div id="forget-password" class="form-group">
                            <a routerLink="#" class="text-info">Forgot Password?</a>
                        </div> -->
                        
                    </form>
                    <!-- <br/>
                        <div  class="text-right">
                            <a href="#" class="text-info form-group">Register here</a>
                        </div>
                        <div  class="text-left">
                            <a routerLink="#" class="text-info">Forgot Password?</a>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h2 class="text-center">{{message}}</h2>

</div>















