<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">Brand</a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="flights">View All Flights <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="flight-details" tabindex="-1" aria-disabled="">View flight details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="payment" tabindex="-1" aria-disabled="">Make Payment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register" tabindex="-1" aria-disabled="">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" tabindex="-1" aria-disabled="">Login</a>
      </li>
    </ul>
  </div>
</nav>